body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FCFCFC;
}
.top {
  text-align: center;
}

.header {
  width: 100%;
}

.instructions {
  background-color: #FFD166;
  padding: 5px 10px;
}

.export-section {
  margin: 10px;
  display: inline-block;
}

.export-section button {
  background-color: #26547C;
  border: 3px solid #FFD166;
  color: white;
  padding: 10px 20px;
}

.export-section button:hover {
  border: 3px solid #F8485E;
}

h3 {
  font-size: 14px;
  display: inline;
  height: 54px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.loc-module {
  display: grid;
  grid-template-columns: 40px calc(100% -  42px);
  grid-template-areas: 'grip-item' 'location';
  grid-gap: 0px;
  border: 2px solid #BCBCBC;
}

.grip-item {
  grid-area: 'grip-item';
  cursor: pointer;
  border-right: 1px solid #BCBCBC
}

.grip-item i {
  font-size: 25px;
  padding: 23px 10px 5px 10px;
}

.grip-item:hover {
  background-color: #EFEFEF;
}

.location {
  grid-area: 'location';
  height: 54px;
  background-color: #FCFCFC;
  margin: 10px;
  border: solid 2px #FCFCFC;
  cursor: pointer;
}

.loc-module:hover {
  border: solid 2px #26547C;
}

.icon-img {
  display: inline-block;
  height: 40px;
  margin: 5px 5px;
  vertical-align: middle;
}

/* edit page styles */
.edit-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(0,0,0,0.7);
}

.edit-window {
  width: 500px;
  height: 570px;
  background: white;
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
}

.hidden {
  display: none;
}

.edit-page .top span {
  float: right;
  padding: 3px 5px;
  cursor: pointer;
}

.edit-window main {
  padding: 10px;
}

.edit-window main img, .edit-window main h3 {
  display: block;
}

.edit {
  cursor: pointer;
}
