body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FCFCFC;
}
.top {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.header {
  width: 100%;
}

.instructions {
  background-color: #FFD166;
  padding: 5px 10px;
}

.export-section {
  margin: 10px;
  display: inline-block;
}

.export-section button {
  background-color: #26547C;
  border: 3px solid #FFD166;
  color: white;
  padding: 10px 20px;
}

.export-section button:hover {
  border: 3px solid #F8485E;
}

h3 {
  font-size: 14px;
  display: inline;
  height: 54px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.loc-module {
  display: grid;
  grid-template-columns: calc(100% - 40px) 40px;
  grid-template-areas: 'location' 'plus-icon';
  grid-gap: 0px;
  border: 2px solid #BCBCBC;
  background-color: #FCFCFC;
  margin-bottom: 3px;
}

.loc-module:hover {
  border: solid 2px #26547C;
}

.location {
  grid-area: 'location';
  height: 54px;
  margin: 10px;
  border: solid 2px #FCFCFC;
  cursor: pointer;
}

.icon-img {
  display: inline-block;
  height: 40px;
  margin: 5px 5px;
  vertical-align: middle;
}

.line {
  position: absolute;
  width: 10px;
  height: 70px;
  border: 2px dotted #BCBCBC;
  left: calc(100% - 80px);
  transform: translateY(-20px);
}

.plus-icon {
  grid-area: 'plus-icon';
  font-size: 25px;
  color: #8C8C8C;
  border-left: 1px solid #BCBCBC;
  padding: 25px 12px 12px;
  cursor: pointer;
}

.plus-icon:hover {
  color: #6c6c6c;
  background-color: #EEE
}

/* edit page styles */
.edit-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(0,0,0,0.7);
  z-index: 10;
}

.edit-window {
  width: 500px;
  height: 650px;
  background: white;
  position: absolute;
  z-index: 15;
  top: 40%;
  left: 50%;
  margin: -250px 0 0 -250px;
}

.edit-page .top span {
  float: right;
  padding: 3px 5px;
  cursor: pointer;
}

.edit-window main {
  padding: 10px;
}

.edit-window main img, .edit-window main h3 {
  display: block;
}

.edit-window .line-thickness {
  margin-left: 15px;
}

#save {
  color: white;
  background: #26547C;
  border: 2px solid #FFD166;
  padding: 7px 20px;
  position: absolute;
  bottom: 11px;
}

#delete {
  color: #F8485E;
  background: white;
  font-size: 16px;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 11px;
  right: 10px;
}

.edit {
  cursor: pointer;
}

/* media queries */
@media screen and (max-width: 500px) {
  .edit-window {
    width: 350px;
    margin: -175px 0 0 -175px;
    font-size: 14px;
    top: 27%;
  }
  .edit-window #desc-edit {
    width: 330px;
  }
}
